<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <title>User</title>
</head>
<body>
<table>
    <caption><strong>User List</strong></caption>
    <thead>
    <tr>
        <th>UserId</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Tel</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.tel}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td>
            <form action="/user/delete" method="post">
                <button type="submit"
                        name="userId" th:value="${user.userId}">Delete
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p><strong>Add User</strong></p>
<form action="/user/add" method="post" id="add-user" enctype="application/x-www-form-urlencoded">
    Name <input type="text" name="name">
    Gender <select name="gender" form="add-user">
    <option value="male">male</option>
    <option value="female">female</option>
</select>
    Tel <input type="tel" name="tel">
    Email <input type="email" name="email">
    Role <select name="role" form="add-user">
    <option value="admin">admin</option>
    <option value="general">manager</option>
</select>
    CompanyId <input type="number" name="companyId">
    <input type="reset">&nbsp;&nbsp;<input type="submit">
</form>

<div class="modal fade" id="popupbox" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Notification</h4>
            </div>
            <div class="modal-body">There is a new user!</div>
            <div class="modal-footer">
                <button onclick="javascript:document.getElementById('notice').pause();" type="button"
                        class="btn btn-primary" data-dismiss="modal">Got it
                </button>
                <button onclick="location.reload()" type="button" class="btn btn-primary">Don't click me</button>
            </div>
        </div>
    </div>
</div>

<audio id="notice" loop="loop">
    <source src="/wombataudit/mp3/Above_it_All_Sting.mp3" type="audio/mpeg">
</audio>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    var websocket = null;
    if ('WebSocket' in window) {
        websocket = new WebSocket('ws://localhost:8080/wombataudit/websocket');
    } else {
        alert('WebSocket is not supported in your browser');
    }
    websocket.onopen = function (ev) {
        console.log("Connection established...");
    };
    websocket.onclose = function (ev) {
        console.log("Connection closed...");
    };
    websocket.onmessage = function (ev) {
        console.log("Message received: " + ev.data);
        $('#popupbox').modal('show');
        document.getElementById('notice').play();
    };
    websocket.onerror = function (ev) {
        alert("Error occurred!");
    };
    websocket.onbeforeunload = function () {
        websocket.close();
    };
</script>
</body>
</html>